<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="70"
    android:versionName="1.5.0"
    package="com.vstory.hook.rikkahub">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="37" />
    <application
        android:name="com.vstory.hook.rikkahub.RikkaTuneApp"
        android:label="RikkaTune"
        android:description="@string/module_description"
        android:allowBackup="false"
        android:theme="@android:style/Theme.DeviceDefault">
        
        
        <activity
            android:name="com.vstory.hook.rikkahub.RikkaTuneActivity"
            android:exported="true"
            android:label="RikkaTune"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        
        
        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="com.vstory.hook.rikkahub.XposedService"
            android:exported="true" />
    </application>
</manifest>
