<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".RikkaTuneApp"
        android:label="RikkaTune"
        android:allowBackup="false"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name=".RikkaTuneActivity"
            android:exported="true"
            android:label="RikkaTune"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- libxposed service: 框架往模块进程发 binder 必须声明 -->
        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="${applicationId}.XposedService"
            android:exported="true" />
    </application>
</manifest>
